body{
    margin:0;
    overflow:hidden;
    background:black;
    font-family: Arial;
}

#estado{
    position:absolute;
    top:10px;
    left:10px;
    color:white;
    font-size:18px;
}

#barraFondo{
    position:absolute;
    bottom:20px;
    left:20px;
    width:300px;
    height:25px;
    background:#444;
    border-radius:10px;
    overflow:hidden;
}

#barra{
    height:100%;
    width:0%;
    background:red;
}